*.gz
*.fasta
*.bz2
*.zip
*.original_safe_id
*.tfa
*.out
*.aln
*.gff3
*.gtf
*.dmnd
*.gff
scaffold_*
*.tsv
*.pdf
*.svg
*.csv
*.cds
*.png
*.txt
*.conf
*.cds
*.pep
*.log
*_obd12
*.json
run_agaricomycetes_odb12/
busco_downloads/
ncbi_dataset/
wgd_from_currentbiology/